@import "../../scss/variables";
@import "../../scss/mixins";

.container{
    width: 100%;
    height: 100vh;
    margin: 2vw 0;
    @include flex(column, center);
    gap: 2vw;
    font-size: 1.3vw;
}

.detailsContainer{
    width: 80%;
    display: grid;
    grid-template-rows: 25vw 15vw;
    grid-template-columns: 25vw 1fr;
    border-radius: 1vw;
    overflow: hidden;
}

.pokemonDetails{
    display: flex;
    flex-direction: column;
}

.pokemonImage{
    background-color: #D9D9D9;
    @include flex(row, center);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80%;
}

/* .ant-upload-list, .ant-upload-wrapper.css-dev-only-do-not-override-qnu6hi.ant-upload-picture-card-wrapper, .ant-upload.ant-upload-select{
    width: 500px !important;
    height: 500px !important;
    } */
    
    .pokemonDetails_header{
        width: 100%;
        height: 20%;
        background-color: $cardHeaderColor;
        color: white;
        @include flex(row, space-between);
    }
    
    .pokemonDetails_title, .pokemonDetails_buttons{
        gap: 1.5vw;
        padding: 0 3vw;
        @include flex(row, flex-start);
        
        a{
            width: 2.3vw;
            height: 2.3vw;
            color: white;
            @include flex(row, center);
            
            &:hover{
                border-radius: 50%;
                background-color: rgba(147, 147, 147, 0.3);
            }
        }
        
        
    }
    
    .pokemonDetails_title{
        width: 30%;
    }
    
    .favorite{
        color: gold;
    }
    
    .pokemonDetails_details{
        background-color: $cardColor;
    width: 100%;
    height: 80%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5vw;
}

.pokemonDetails_details_traits, .pokemonDetails_details_stats{
    @include flex(column, space-between);
    padding: 2vw 3vw;
    color: black;
    font-weight: 500;

    .pokemonDetails_details_traits_item{
        width: 100%;
        @include flex(row, space-between);

        aside{
            min-width: 50%;
            display: flex;
            font-size: 1vw;
            gap: 0.5vw;
            @include flex(row, end);
        }
    }
}

.pokemonEvolutions{
    background-color: #A8A8A8;
    grid-row: 2/3;
    grid-column: 1/3;
    @include flex(row, center);
    font-size: 5vw;
    color: black;
    gap: 5vw;

    a{
        width: 10vw;
        height: 10vw;


        img{
            width: 100%;
            height: 100%;
        }
    }
}

.editButtons{
    width: 100%;
    @include flex(row, space-around);
    
    button, a{
        width: 15vw;
        height: 10vh;
        @include flex(row, center);
        color: white;
        font-size: 1.3vw;
        border-radius: 0.5vw;
    }
}

.editButtons_edit{
    background-color: rgb(91, 188, 96);
}

.editButtons_delete{
    background-color: rgb(221, 96, 96);
}