@import "../../scss/variables";
@import "../../scss/mixins";

.header_navbar{
    width: 100%;
    height: 100%;
    background-color: $primaryColor;
    @include flex(row, center);

    ul{
        width: 100%;
        @include flex(row, space-around);

        li{
            width: 10%;
            text-align: center;
            font-size: 1.2vw;
            font-weight: 500;
            cursor: pointer;

            &::after{
                content: '';
                width: 100%;
                height: 0.1vw;
                background-color: $primaryTextColor;
                display: block;
                transition: 0.2s ease-in-out;
                transform: scaleX(0);
            }

            &:hover::after{
                transform: scaleX(1);
            }

            a{
                color: $primaryTextColor;
            }
        }
    }
}