@import "../../scss/variables";
@import "../../scss/mixins";

.header_navbar{
    width: 100%;
    height: 100%;
    background-color: #F8D96B;
    @include flex(row, center);

    ul{
        width: 100%;
        @include flex(row, space-around);

        li{
            cursor: pointer;
        }
    }
}