@import "./variables.scss";
@import "./mixins.scss";

*{
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    min-height: 100vh;
}

header{
    width: 100%;
    height: 10vh;
    display: flex;
    position: sticky;
    top: 0;
    z-index: 1000000;
}

.mainSpaceBetween{
    width: 100%;
    min-height: 100%;
    @include flex(row, space-between);
    align-items: flex-start;
    
    .cardsContainer{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 4vw;
        row-gap: 4vw;
        padding: 2vw;
        align-self: flex-start;
    }
}

.mainCenter{
    width: 100%;
    min-height: 100%;
    @include flex(row, center);
}

ul{
    list-style: none;
}

a, button{
    text-decoration: none;
    cursor: pointer;
}

footer{
    width: 100%;
    background-color: $primaryColor;
    padding: 1vw 0;
    font-size: 1vw;
    font-weight: 500;
    text-align: center;
    color: $primaryTextColor;
}