$cardHeaderGap: 1vw;
$cardHeaderPadding: 0 1vw;
$cardColor: #e1e1e1;
$cardHeaderColor: #FF9292;
$cardAttackColor: #F8F8F8;
$cardTextColor: black;
$primaryColor: #F8D96B;
$primaryTextColor: rgb(10, 53, 194);