$cardHeaderGap: 1vw;
$cardHeaderPadding: 0 1vw;
$cardColor: rgb(215, 215, 215);
$cardHeaderColor: #FFA8A8;
$cardAttackColor: rgb(227, 227, 227);
$cardTextColor: black;
$primaryColor: #F8D96B;
$primaryTextColor: rgb(45, 84, 212);